<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>HybridIME</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>HYIM</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>com.sunnyyu.inputmethod.HybridIME.Hybrid</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>com.sunnyyu.inputmethod.HybridIME.Hybrid</string>
				<key>TISIntendedLanguage</key>
				<string>zh-Hant</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>HybridIMEIcon.tiff</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Hant</string>
					<string>Han</string>
				</array>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>HybridIMEIcon.tiff</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>HybridIMEIcon.tiff</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smTradChinese</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>com.sunnyyu.inputmethod.HybridIME.Hybrid</string>
		</array>
	</dict>
	<key>InputMethodConnectionName</key>
	<string>com.sunnyyu.inputmethod.HybridIME_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>HybridIMEInputController</string>
	<key>InputMethodServerDelegateClass</key>
	<string>HybridIMEInputController</string>
	<key>LSUIElement</key>
	<true/>
	<key>LSBackgroundOnly</key>
	<false/>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>TISInputSourceID</key>
	<string>com.sunnyyu.inputmethod.HybridIME</string>
	<key>TISIntendedLanguage</key>
	<string>zh-Hant</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Hant</string>
		<string>Han</string>
	</array>
	<key>tsInputMethodDefaultKeyboardLayoutOverrideKey</key>
	<string>com.apple.keylayout.US</string>
	<key>tsInputMethodIconFileKey</key>
	<string>HybridIMEIcon.tiff</string>
</dict>
</plist>
